<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>lofty 前端基础框架</title>
	
		<!-- Demo页面自身所需的基本样式，全局Reset文件在demo.min.css中引入 --->
		<link rel="stylesheet" href="http://loftyjs.com/fdevlib/static/css/lofty/demo-mobile.min.css" />
		
		<link rel="stylesheet" href="http://style.c.aliimg.com/fdevlib/css/lofty/ui/tabs/1.0/front/tabs-min.css" />

        <script src="http://style.c.aliimg.com/m/lofty/port/lofty.js"></script>
        <script src="http://style.c.aliimg.com/m/lofty/gallery/appframework/af.js"></script>
    </head>
	
    <body style="padding:20px">
	  
	  <div style="font-size:16px;font-weight:bold;">方式一：js动态渲染，模板代码取自js文件</div>
	  <div id="dynamicTab"></div>
	  
<pre class="prettyprint language-js">

  //动态渲染无需传入tpl参数，因为组件内部js中已定义
  var tab = new Tabs({
		container:'#dynamicTab',
		items: [{
			label: 'Tab1',
			content: '&lt;p&gt; Tab1 content&lt;/p&gt; '
		}, {
			label: 'Tab2',
			content: '&lt;p&gt; Tab2 content&lt;/p&gt; '
		}, {
			label: 'Tab3',
			content: '&lt;p&gt; Tab3 content&lt;/p&gt; '
		}]
  });
  
</pre>

	  <div style="margin-top:30px;font-size:16px;font-weight:bold;">方式二：js动态渲染，模板代码取自页面上script标签中的内容</div>
	  <div id="dynamicTab2"></div>
	  
<pre class="prettyprint language-js">

  //动态渲染 tpl 来自页面的script标签中的内容，将覆盖js中定义的模板变量
    var tab2 = new Tabs({
		container:'#dynamicTab2',
		tpl:'#tpl_from_script', 
		items: [{
			label: 'Tab1',
			content: '&lt;p&gt; Tab1 content&lt;/p&gt; '
		}, {
			label: 'Tab2',
			content: '&lt;p&gt; Tab2 content&lt;/p&gt; '
		}, {
			label: 'Tab3',
			content: '&lt;p&gt; Tab3 content&lt;/p&gt; '
		}]
	});
  
</pre>

	  <!--模板埋在Dom中，对内容型页面的性能优化有帮助-->
	  <script id="tpl_from_script" type="text/html">
	    <div class="<%= classPrefix %>-tab fui-tab-pink">
		 <div class="fui-t">
			<ul class="<%= classPrefix %>-tab-ul">
				<% for ( var i = 0; i < items.length; i++ ) { %>
					<li class="<%= classPrefix %>-tab-t"><a href="#"><%= items[i].label%></a></li>
				<% } %>
			</ul>
		</div>
		<div class="fui-d">
			<% for ( var i = 0; i < items.length; i++ ) { %>
				<div class="<%= classPrefix %>-tab-b"><%=items[i].content%></div>
			<% } %>
		</div>
	   </div>
	  </script>
	  
	  <div style="margin-top:30px">方式三：静态渲染，直接使用页面上的Dom节点树渲染。</div>
	  <div class="fui-tab" id="staticTab">
			<div class="fui-t">
				<ul class="fui-tab-ul">
					<li class="fui-tab-t fui-tab-current"><a href="#" target="_self">选项卡1</a></li>
					<li class="fui-tab-t"><a href="#" target="_self">选项卡2</a></li>
					<li class="fui-tab-t"><a href="#" target="_self">选项卡3</a></li>
				</ul>
			</div>
			<div class="fui-d" style="height: 18px;">                       
				<div class="fui-tab-b">tab1</div>
				<div class="fui-tab-b">tab2</div>
				<div class="fui-tab-b">tab3</div>
			</div> 
	  </div>
<pre class="prettyprint language-js">

  //静态渲染 tpl 来自页面上已有的Dom节点
   var tab3 = new Tabs({
		tpl:'#staticTab'
   });
  
</pre>
	  
	  <div style="margin-top:30px">方式四：标签渲染，div上有特殊的fui属性，页面会自动渲染</div>
	  <div data-fui-widget="lofty/ui/tabs/1.0/tabs" data-fui-config='{"items":[{"label":"Tab1","content":"Tab1"},{"label":"Tab2","content":"Tab2"}]}'></div>
	  
<pre class="prettyprint language-js">

  //标签渲染，会自动把body内带data-fui-widget属性的节点以指定组件的方式动态渲染
  AutoRender.render();
  
</pre>
  
	  <script type=text/javascript>

		/**
		 * 具体的功能测试代码，define中无id，所以该模块会被立即执行
		 */
		define(['fui/tabs/1.0', 'fui/autorender/1.0'], function(Tabs, AutoRender){
			
			///////////初始化方式1：JS动态渲染页面空标签，模板来自tabs.js内部的tpl变量//////////////////////////
			var tab = new Tabs({
				container:'#dynamicTab',
				items: [{
					label: 'Tab1',
					content: '<p>Tab1 content</p>'
				}, {
					label: 'Tab2',
					content: '<p>Tab2 content</p>'
				}, {
					label: 'Tab3',
					content: '<p>Tab3 content</p>'
				}]
			});
			tab.switchTo(2);
			
			///////////初始化方式2：JS动态渲染页面空标签，模板从页面中的scrpit标签取//////////////////////////
			var tab2 = new Tabs({
				container:'#dynamicTab2',
				tpl:'#tpl_from_script', 
				items: [{
					label: 'Tab1',
					content: '<p>Tab1 from script</p>'
				}, {
					label: 'Tab2',
					content: '<p>Tab2 from script</p>'
				}, {
					label: 'Tab3',
					content: '<p>Tab3 from script</p>'
				}]
			});
			
			///////////初始化方式3：静态渲染，Tabs组件的Dom树已经在页面上//////////////////////////
			var tab3 = new Tabs({
				tpl:'#staticTab'
			});
			
			
			///////////初始化方式4：标签渲染///////////////////////////////////////////////////////
			AutoRender.render();
		});
      </script>

		<!-- Demo页面自身所需的JS，实际项目中无需引入 --->
		<script src="http://loftyjs.com/fdevlib/static/js/lofty/demo.min.js" type="text/javascript"></script>	
		<script>
			prettyPrint();
		</script>

		
    </body>
</html>
