/*! lofty.css build 14/01/26 15:59:20 */
/**
 * @module reset.css for lofty mobile
 * @author jianping.shenjp shanshan.hongss
 * @editor Edgar
 * @version v0.1
 * @date 131231
 * */

/**
 * Thanks to:
 * normalize.css, http://necolas.github.io/normalize.css/
 * */

*, *:before, *:after {
    /* 设置元素的盒模型为border-box */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* 使Chrome使用小于12px的字体 */
    -webkit-text-size-adjust: 100%; 
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    /* 去除点击元素后的高亮效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*去除元素周围的虚线*/
*:focus {
    outline: none;
}

html {
    background: #fff;
    color: #000;
    font-size: 100%; /* 设定root元素的字体大小，便于子元素rem单位的设置 */
}

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements */
dl, dt, dd, ul, ol, li, /* list elements */
pre, /* text formatting elements */
fieldset, legend, button, input, textarea, form, /* form elements */
th, td, /* table elements */
figure {
    margin: 0;
    padding: 0;
}

/* 重置默认字体和大小 */
body {
    font-size: 0.75rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

em {
    font-style: normal;
}

strong {
    font-weight: 700;
}
button, input, select, textarea {
    font-size: 100%;
}
/* Remove inner shadow from inputs on mobile iOS */
textarea, input[type="text"], input[type="submit"], input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
/*重置文本格式*/
a {
    font-family: Droid Sans Fallback Roboto Heiti SC Helvetica Neue;
    text-decoration:none;
}

a:hover, a:active {
    color: #ff7300;
}

q:before, q:after {
    content: "";
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 去除默认边框 */
fieldset, img {
    border: none;
}

/* 重置列表元素 */
ul, ol { 
    list-style: none; 
}

/* 媒体元素 */
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * @module type.css for lofty mobile
 * @author Edgar <mail@edgarhoo.net>
 * @version v0.1
 * @date 131231
 * */

/* float */
.fd-left{
    float: left;
}

.fd-right{
    float: right;
}

.fd-clear{
    clear: both;
}

.fd-clr:after{
    display: block;
    clear: both;
    height: 0;
    content: "\0020";
}


/* display */
.fd-hide{
    display: none;
}
.fd-show{
    display: block;
}


/* position */
.fd-locate{
    position: relative;
}


/**
 * CNY symbol
 * usage: <span class="fd-cny">&yen;</span>
 * */
.fd-cny{
    font-family: Helvetica, Arial;
}

/* text */
.fd-gray{
    color:#666;
}

.fd-bold{
    font-weight:700;
}


/**
 * @module layout.css for lofty mobile
 * @author Edgar <mail@edgarhoo.net>
 * @version v0.1
 * @date 131231
 * */

#header:after,
#content:after,
#footer:after,
.layout:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020";
}
